



<!doctype html>
<html lang="en">
<meta charset="utf-8">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >

{% extends "layout.html" %}
{% block title %}directores{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
{{ super() }}
<section>
  <div class="formulario">
    <h1>Login</h1>  
    <form  method='POST' action="/user">           
           <div class="input-contenedor">
          <i class="fas fa-key icon"></i>
           <input type="text" name="cedula" placeholder="Cedula">       
           </div>
  
           <div class="input-contenedor">
              <i class="fas fa-key icon"></i>
               <input type="password" name="clave" placeholder="Contraseña">    
          </div>
           <input type="submit" value="Login" class="button">
          </form>
          <div class="input-contenedor">
           <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
           <p>¿No tienes una cuenta? <a class="link" href="registrarvista.html">Registrate </a></p>
      </div> 
    
  </div> 
</section>
  <footer>
        &copy; Copyright 2024 by <a href="http://www.cessrl.blogspot.com">La Administradora</a>.
  </footer> 
{% endblock %}
</html>    