<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>administracion</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">     
</head>
<body>
    <div align="center">
		<div align="center" class="border">
			<div class="header">
				<h1 class="word">Administradora</h1>
			</div>
			<h2 class="word">
				<form action="{{ url_for('login_dir') }}" method="post">
				<div class="msg">{{ msg }}</div>
					<input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
					<input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br></br>
					<input type="submit" class="btn" value="Sign In">
				</form>

		</div>
		</div>   
</body>
</html>