<!doctype html>
<html lang="en">
<meta charset="utf-8">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
{% extends "layout.html" %}
{% block title %}informacion{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
{{ super() }}
<section id="cuotas">
<form action="data_cuotas" method="post">
   <h1>LISTA DE PAGOS</h1>
   <p>
   {%for datos in informacion %}   
   <label for="paradas">PARADA:</label>             
   <input type="text" name="parada" value="{{datos[2]}}" id="paradas">
   {%endfor%}
                        
   <label for="fecha">FECHA:</label>
   <input type="text" name="time" value="{{fecha}}" id="fecha">
  
   <label for="miembro">NUMERO DE MIEMBROS:</label>
   <input type="text" name="numero" value="{{ cabecera[1]}}" id="miembro">         
 
   <label for="forma">PRESIDENTE:</label>
   <input type="text" name="forma" value="{{ cabecera[3]}}" id="forma">
 
   <label for="valor">CUOTA:</label>
   <input type="text" name="valor" value="{{ cabecera[0]}}RD$/{{ cabecera[2]}}" id="valor">  
</section>
<section id="tabla_cuotas">
<table>
   <tr></tr>
      <th>ITEM</th>
      <th>PAGO</th>
      <th>NOMBRE_DEL_ASOCIADO</th>
      <th>CEDULA</th>
   </tr>
   {% for user in datos %}
   <tr>
      <td>
         <input type="text" class="campo_item" name="item" value="{{ user[0]}}">
      </td>
      <td>
         <select name="estado" id="pagar">
            <option value="no_pago">no_pago</option>
            <option value="pago">pago</option>
         </select>
      </td>
      <td>
         <input type="text" class="campo_nombre" name="nombre" value="{{ user[1]}}" maxlength="50" placeholder=" ">
      </td>
      <td>
         <input type="text" class="campo_id" name="documento" value="{{ user[2]}}" id="">
      </td>
   </tr>
   {%endfor%}
</table>
<button type="submit">ENVIAR</button>
</form>
</section>
<section id="gastos"><div class="info"><h1>CONTROL DE GASTOS</h1></div></section>
<section id="ingresos"><div class="info"><h1>CONTROL DE INGRESOS</h1></div></section>
<section id="prestamos"><div class="info"><h1>CONTROL DE PRESTAMOS</h1></div></section>
<section id="abonos"><div class="info"><h1>CONTROL DE ABONOS</h1></div></section>
<footer>
   <a href="{{ url_for('logout') }}" class="btn">Logout</a>	<br> 
  &copy; Copyright 2024 by <a href="http://www.cessrl.blogspot.com">La Administradora</a>
</footer> 
{% endblock %}
</html>